.container {
  margin: 30px auto;
  width: 800px;
  outline: solid 1px red; 
  padding: 10px 10px;
}

input.input-text {
  height: 25px;
  width: 100%;
  font-size: 20px;
  padding: 3px 3px;
}

#list-todos {
  margin-left: 0px;
  padding-left: 2px;
  list-style: none;
}

#list-todos li {
  height: 35px;
  background-color: #c0c0c0;
  margin-bottom: 5px;
  padding: 5px 5px;
}

#list-todos li:hover {
  background-color: #f0f0f0;
}
